.classpath
.project
.settings/

target/

.idea/
*.iml
*.ipr
*.iws
.DS_Store
spring-shell.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
